
#contentBox {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
    overflow: visible !important;
}

.title-row {
    background-color: #262524;
    margin-right: -192px;
    margin-left: -192px;

}
    .title-row .row {
        margin-right: 191px;
        margin-left: 192px;
    }

#titleAreaBox {
    margin: 0;
}
nav ul li {
    text-align: center;
}
#DeltaSiteLogo {
    padding-top: 20px;
    margin-top: 0px;
}

.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
    background: none;
    padding-right: 0;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
    margin-right: 0;
}
#DeltaTopNavigation .menu-item-text {
    font-size: 1.6rem;
    color: #FFF;
    font-weight: normal;
}

.copyright p {
    margin: 0;
}

.homepage_section-author {
    text-decoration: none !important;
    color: #47a8ca !important;
    font-weight: bold;
    font-size: 1.3rem;
}

    .homepage_section-author::before {
        content: "\f007";
        font-size: 1.8rem;
        font-family: FontAwesome;
        line-height: 25px;
        color: #bcbcbc;
        margin-right: 5px;
    }
.homepage_section-time {
    font-size: 1.3rem;
    opacity: 0.5;
}
    .homepage_section-time::before {
        content: "\f133";
        font-size: 1.8rem;
        font-family: FontAwesome;
        line-height: 25px;
        opacity: 0.6;
        margin-right: 5px;
    }
.homepage_section-comment {
    font-size: 1.3rem;
    opacity: 0.5;
}
    .homepage_section-comment::before {
        content: "\f0e5";
        font-size: 1.8rem;
        font-family: FontAwesome;
        line-height: 25px;
        opacity: 0.6;
        margin-right: 5px;
    }
