.intranet_documents-section {
    box-shadow: 0 0 10px #aaa;
    background-color: #FFF;
    padding: 10px 30px;
    min-height: 420px;

    &__group {
        list-style-type: none;
        margin-top: 9px;
        padding: 0;
        margin-bottom: 0;
    }

    &__item {
        position: relative;
    }

    &__item:not(:last-child)::after {
        content: "";
        width: 100%;
        position: absolute;
        border-bottom: 2px solid #ececec;
        bottom: 0;
        left: 0;
    }

    &__file {
        line-height: 39px;
        color: #47a8ca !important;
    }
}
.intranet_documents-section__wrapper.bottom-section {
    margin-top: 45px;
}