.homepage_company-gallery {
  box-shadow: 0 0 10px #aaa;
  background-color: #FFF; }
  .homepage_company-gallery__small-heading-wrapper {
    padding: 10px 30px; }
  .homepage_company-gallery__slider {
    margin-top: 10px; }
  .homepage_company-gallery__content-wrapper {
    position: absolute;
    bottom: 0;
    background: white;
    opacity: .8;
    text-align: center;
    width: 100%; }
  .homepage_company-gallery__title {
    line-height: 60px !important;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 30px;
    display: block !important; }

.homepage_section-wrapper.bottom-section {
  margin-top: 45px; }
